*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 30%;
    padding: 10px;
    flex-grow: 1;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    flex-grow: 1;
}

div.mensaje{
    background-color: aqua;
    align-self: center;
    flex-grow: 1;
}

.fa-hand-holding-usd{
    align-items: center;
}

.fa-hand-holding-usd{
    flex-grow: 1;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
    display: none; 
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
    font-size: 2vh;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 50%;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #03264c;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
    transition: display 1s ;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 1s; /* SE REALIZA LA TRANSICION LENTA PARA EL CARRITO DE COMPRAS*/
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}


/* --------------------------------------------------------------------------------- */

/* TOCA COLOCAR TODO EL RECORRIDO PARA PODER COLOCAR EL HOVER */
main section article:hover .description{
    display: block;
}

/* COLOCAR EL CARRO DE MANERA VERTICAL */
.fa-truck:hover{
    transform: rotateZ(270deg);
}

/* SE COLOCA SOMBRA */
article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* COLOREAR EL BOTON DE ENVIAR FORMULARIO*/
.boton-enviar:hover{
    background-color: #0022AA;
}


@media (min-width: 361px){
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    header nav{
        display: block;
    }

    div.burger-menu{
        display: none;

    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }

    .navegacion{
        display: flex;
    }
    
    .menu1{
        display: flex;
        flex-grow: 2;
        justify-content: space-between;
    }
    
    .menu2{
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
    }
    
    .espacio{
        flex-grow: 8;
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
    }

}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }

    footer{
        display: flex;
    }

    .celeste:hover{
        color: aqua;
    }
}



/* ESTILOS FOOTER*/

footer{
    text-align: center;
    background-color: white;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ebebeb;
}

footer section{
    margin-top: 20px;
    margin-bottom: 20px;
} 

.celeste{
    color: #1259c3
}



